* {
  margin: 0;
  box-sizing: border-box;
}

:root {
    /*alle kleuren */
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;


    --primary-text-color: var(--slate-900);
    --secondary-text-color: var(--slate-500);
}


body {
    font-family: 'Outfit';

    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #D5E1EF;
    gap: 40px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 16px 16px 40px 16px;
    gap: 24px;
    box-shadow: 0px 25px 25px rgba(0,0,0,0.0477)
}

img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    padding: 0px 16px;
    gap: 16px;
}

h6 {
    font-size: 22px;
    text-align: center;
    color: var(--primary-text-color);
    line-height: 1.2;
    letter-spacing: 0px;
}

p {
    font-size: 15px;
    text-align: center;
    color: var(--secondary-text-color);
    line-height: 1.4;
    letter-spacing: 0.2px;
}

.attribution {
    display: flex;
    align-items: center;
    width: fit-content;

    
}